{% extends 'base.html' %}
{% load bootstrap %}

{% block 'titulo' %}Cadastro de Categoria{% endblock 'titulo' %}

{% block 'conteudo' %} 

<div class="container">
    <div class="col-md">
        <br>
        <h1>Cadastro de Categoria</h1>
        <hr>
            <form action="{% url 'home' %}" method="POST"> {% csrf_token %}
                <div class="form-group">
                {{ formCadastroCategoria|bootstrap }}
                </div>
                <button type="submit" class="btn btn-outline-success mr-sm-2">Cadastrar</button>
            </form>
            <br>
    </div>
</div>

{% endblock 'conteudo' %}