{% extends 'base.html' %}

{% block 'titulo' %}Decricao do livro{% endblock 'titulo' %}

{% block 'conteudo' %}

<div class="container">
    <div class="col-md">
        <br>
        <h1>Descrição do Livro</h1>
        <hr>
            <form action="#" method="POST"> {% csrf_token %}
                <div class="form-group">
                    
                    <label>Nome do livro:</label>
                    <input type="text" class="form-control" value="{{ livro.nome }}">
                
                    <label>Nome do autor:</label>
                    <input type="text" class="form-control" value="{{ livro.autor }}">
                
                    <label>Nome do co-autor:</label>
                    <input type="text" class="form-control" value="{{ livro.coautor }}">
                
                    <label>Data de cadastro:</label>
                    <input type="text" class="form-control" value="{{ livro.data_cadastro }}">
                
                    <label for="exampleFormControlSelect1">Categoria:</label>
                    <select class="form-control" id="exampleFormControlSelect1">

                    {% for categoria in categoria_livro %}

                        {% if livro.categoria == categoria %}
                        <option selected>{{ categoria }}</option>
                        {% else %}
                        <option>{{ categoria }}</option>
                        {% endif %}

                    {% endfor %}

                    </select>
                    <br>
                    <label>Emprestado:</label>
                        {% if livro.emprestato %}
                            <input checked type="checkbox" name="emprestado">
                        {% else %}
                            <input type="checkbox" name="emprestado">
                        {% endif %}
                    <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <hr>
            <h2>Histórico de emprestimo</h2>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Emprestimo</th>
                    <th scope="col">Data Devolução</th>
                    <th scope="col">Duração Emprestimo</th>
                  </tr>
                </thead>
                <tbody>
                {% for emprestimo in emprestimos %}
                  <tr>
                    {% if emprestimo.nome_emprestado_anonimo == None %}
                        <th scope="row">{{emprestimo.nome_emprestado}}</th>
                    {% else %}
                        <th scope="row">{{emprestimo.nome_emprestado_anonimo}}</th>
                    {% endif %}
                        <td>{{emprestimo.data_emprestimo}}</td>
                        <td>{{emprestimo.data_devolucao}}</td>
                        <td>{{emprestimo}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            
    </div>
</div>
{% endblock %}